
@model WebUI.Models.CategoryLabelViewModel





<div class="list-group" id="list-tab" role="tablist">
    <h4>Kategoriler</h4>
    @foreach (var item in Model.Categories)
    {
        <a asp-controller="Blog" asp-action="GetBlogsByCategoryId" asp-route-id="@item.Id"  style="border-radius:10px;margin:5px;" class="list-group-item list-group-item-action active" id="list-home-list" type="button" >@item.CategoryName</a>
      
    }
    <h4>Etiketler</h4>
    @foreach (var item in Model.Labels)
    {
        <a  asp-controller="Blog" asp-action="GetBlogsByLabelId" asp-route-id="@item.Id"  style="border-radius:10px;margin:5px;"class="list-group-item list-group-item-action active" id="list-home-list" >@item.LabelName</a>
       
    }

</div>