@using Entity.Concrete
@model List<BlogLabel>  
@{
    ViewData["Title"] = "GetLabelsByBlogId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">item.</li>
    }


</ul>

