@model WebUI.Models.AboutProfileInfo
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Hakkımda Kısmı Güncelleme Sayfası</h4>

<form enctype="multipart/form-data" asp-controller="AdminAbout" asp-action="Update" asp-route-id="1">
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Kısa Hakkımda</label>
        <textarea asp-for="ShortAbout" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Hakkımda</label>
        <textarea asp-for="AboutMe" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Blog Hakkında</label>
        <textarea asp-for="AboutTheBlog" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Yeteneklerim ve Deneyimlerim</label>
        <textarea asp-for="MySkillsAndExperience" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Başka Neler Yapıyorum?</label>
        <textarea asp-for="SideTodos" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
        <img class="avatar avatar-xl personalImageUrl" src="@Model.FirstImagePath" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">İlk Fotoğrafı Ekle</label>
        <input asp-for="FirstImage" type="file" class="form-control-file" >
    </div>
    <div class="form-group">
        <img class="avatar avatar-xl personalImageUrl" src="@Model.SecondImagePath" />
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">İkinci Fotoğrafı Ekle</label>
        <input asp-for="SecondImage" type="file" class="form-control-file" >
    </div>

    <button class="btn btn-primary" type="submit">
        Bilgileri Güncelle
    </button>
</form>
